@model IEnumerable<AM.Core.Domain.Prestataire>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageInstagram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrestataireId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrestataireNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrestataireTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageInstagram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrestataireId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrestataireNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrestataireTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
